/* Basic styling for body and layout */
#app {
    border-radius: 8px;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background: #333; /* Dark grey background */
    color: #fff; /* White text for better readability */
}

header {
    background: #dc4405; /* OSU Orange */
    color: #fff; /* White text */
    padding: 20px;
    text-align: center;
    border-radius: 8px; /* Uniform border radius for header */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0; /* Remove default margin */
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li button {
    color: white;
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    border-radius: 8px; /* Uniform border radius for buttons */
}

nav ul li button:hover, nav ul li button:focus {
    background: #444; /* Darker grey for hover/focus */
}

nav ul li button.active {
    background-color: #444; /* Dark grey for active person */
    color: white;
}

.person-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
    background: #444; /* Slightly lighter grey background for content areas */
    border: 1px solid #555; /* Border to distinguish content areas */
    border-radius: 8px; /* Uniform border radius for content areas */
}

.tab {
    display: flex;
    justify-content: center; /* Center the tab links horizontally */
    background-color: #555; /* Light grey for tabs background */
    margin: 0 60px;
    padding: 10px 0;
    border-radius: 8px; /* Uniform border radius for tab area */
}

.tab button {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: 0 10px; /* Space between buttons */
    transition: 0.3s;
    border-radius: 8px; /* Uniform border radius for buttons */
}

.tab button:hover, .tab button.active {
    background-color: #dc4405; /* OSU Orange for hover and active */
    color: white;
}

.tabcontent {
    display: none;
    padding: 20px;
    text-align: center; /* Center align text */
    width: 80%;
    margin: 0 auto; /* Center align the div */
    border: 1px solid #555;
    border-top: none;
    border-radius: 8px;
}

.about-me-container,
.project-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 20px; /* Space between tab content sections */
}

.about-me-image{
    width: 250px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image/video and content */
}

.project-video {
    width: 480px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image/video and content */
}

.about-me-content h2,
.project-content h2 {
    margin-top: 0; /* Removes default top margin for h2 */
}

.about-me-content p,
.project-content p {
    margin-top: 10px; /* Adds a bit of space between title and paragraph */
}